body{
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF
        ;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Header */
.header-wrap{
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-logo {
        color: #4D5AE5;
            font-family: Raleway ,sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-right: 76px;
}

.accent {
    color: #2E2F42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
   
}

.header-menu-link  {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        
}
.header-menu-link:hover{
    color: #404bbf;
}
.header-menu-link:focus{
color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {
    padding: 24px 0;
}

.header-address-link{
    color:  #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-address-link:hover{
    color: #404bbf;
}

.header-address-link:focus {
    color: #404bbf;
}

/* Hero 1*/


.hero {
    background:  #2E2F42;
    padding: 188px 0;
}

.hero-title {
    color:  #FFF;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
       
       
        
}
.hero-button-link {
    font-family: "Roboto", sans-serif;
        background: #4D5AE5;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
            display: block;
                min-width: 169px;
                height: 56px;
                border: none;
                border-radius: 4px;
               
        
      
        
}

.hero-button-link:hover
.hero-button-link:focus {
    background-color: #404bbf;
    cursor: pointer;

}

/* Our Advantages 2*/
.advantages {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-item-title {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.advantages-item-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* Our Team 3*/

.team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}
.container-team-div{
    padding: 32px 0;
}

.team-item {
    background: #FFF;
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px ;
    
}

.team-img {
 display:block;
}

.team-people {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.team-work {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
/* Portfolio 4*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
margin-bottom: 72px;
}
   


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width:calc((100% - 48px) / 3);
}

.portfolio-img {
display:block;
}
.container-job{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item-title {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
       
}

.portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* Footer */
.footer{
    background:  #2E2F42;
padding: 100px 0;
}
.container-footer-div{

}
.footer-logo {
    color: #4D5AE5;
        font-family: Raleway , sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
      
      
}
.footer-logo-web{
color: #F4F4FD;


}

.footer-text {
    color:  #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
}